/*
    *f: flexbox;
    *h: horizontal
*/

.f-h-start{
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

/* itens filhos*/
span{
    font-size: 18px;
    background-color: white;
    width: 70px;
    border-radius: 10px;
    margin-left: 5px;
}



.f-h-end{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}
/* itens filhos*/
span{
    font-size: 18px;
    background-color: white;
    width: 70px;
    border-radius: 10px;
    margin-left: 5px;

}

.f-h-arround{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}
/* itens filhos*/
span{
    font-size: 18px;
    background-color: white;
    width: 70px;
    border-radius: 10px;
    margin-left: 5px;
}


.f-h-center{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}
/* itens filhos*/
span{
    font-size: 18px;
    background-color: white;
    width: 70px; 
    height: 50px;
    border-radius: 10px;
    margin-left: 5px;
}


.f-h-between{ 
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}
/* itens filhos*/
span{
    font-size: 18px;
    background-color: white;
    width: 70px;
    border-radius: 10px;
    margin-left: 5px;
}
.f-v-end{ 
    display: flex;
    align-items: end;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}
.f-v-center{ 
    display: flex;
    align-items: center;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}
.f-v-stretch{ 
    display: flex;
    align-items: stretch;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}


.f-v-col-end{ 
    display: flex;
    align-items: end;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
    flex-direction: column;
}
.f-v-col-center{ 
    display: flex;
    align-items: center;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
    flex-direction: column;
}
.f-v-col-start{ 
    display: flex;
    align-items: stretch;
    height: 100px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
    flex-direction: column;
}


